* {
    font-size: 25px;
    font-family: 'Cardo', serif;
    font-style: "https://fonts.googleapis.com/css2?family=Cardo&display=swap";
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a{
    text-decoration: none;
  }