/* PREGUNTAS FRECUENTES START*/

.info-preg-frec-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1f;
    margin-top: 50px;
    margin-bottom: 3%;
    padding-bottom: 30px;
    gap: 10px;
  }
  
  .info-preg-frec {
    p {
      border-radius: 15px;
      text-align: center;
      width: 50%;
      color: rgb(0, 0, 0);
      border: 2px solid;
      box-shadow: 2px 2px 10px black;
      position: relative;
      left: 25%;
    }
  
    h2 {
      color: black;
      font-size: 100%;
      text-align: center;
      align-items: center;
    }
  }
  
  /* PREGUNTAS FRECUENTES END */