/* HEADER INCIO */

// Barra Superior START

.barra-sup {
  grid-column: 1/7;
  text-align: center;
  background-color: black;
  height: 125%;
  margin: 0;
  color: white;

  p {
    margin-top: 0.3%;
    font-size: 85%;
  }
}

// Barra Superior END

// NAVBAR START

.container-navbar-grid{
  min-height: 200px;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20% 110%;
  background-color: black opacify($color: #000000, $amount: 0);
  align-items: center;
  margin: 0;
  padding: 0%;
  width: 100%;
  max-height: 150px;

  .fecakes {
    transition: 500ms all;

    &:hover {
      transform: scale(1.1);
    }

    img{
      position: relative;
      left: 7%;
      width: 60%;
      transition: 500ms all;
    }

  }

  li a {
    color: black;
    font-size: 23px;
    width: 150%;
    text-align: center;
  }

  .hover-navbar{
    transition: 0.5s all;
    width: fit-content;
    &:hover {
      transform: scale(1.1);
    }

    li a{
      text-align: center;
    }
  }

  .barra-sup{
    width: auto;

    &:hover {
      transform: scale(1.0);
    }

  }

}

.dropdown-menu.bg-black.show li a{
  color: white;
  transition: all 0.5s;
  width: 100%;

  &:hover{
  background-color: white;
  color: black;
  transform: scale(1.06);
  }

}

.hover-navbar {
  display: flex;
  justify-content: space-evenly;
}

.hover-navbar a {

  &:after{
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: black;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  }
}

.hover-navbar a {

  &:hover:after{
  transform-origin: left;
  transform: scaleX(1);
  }
}



@media screen and (max-width: 320px) {
  /* Navbar START*/

  .container-navbar-grid {
    display: grid;
    background-color: black;
    align-items: end;
    padding: 0%;
    margin: 0%;
  }

  .navbar {
    margin-bottom: 0%;
    align-items: end;
    padding: 0%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 85% 14%;
    background-color: black;
    color: white;
    justify-items: center;

    img {
      width: 50%;
      margin-bottom: 0%;
      margin-left: 26%;
    }

    a {
      grid-column-start: 1;
      grid-column-end: 5;
      margin-top: 0%;
    }

    li a {
      color: white;
      font-size: 50%;
      text-align: center;
      text-decoration: none;
    }
  }

  /* Navbar END*/
}

// NAVBAR END

/* HEADER END */