/* INDEX START */

.carousel-item {
  height: 65vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 20%;
  margin-top: -28vh;
  max-height: 800px;
}

.carousel-inner {
  height: 1500px;
}

.carousel-caption {
  text-shadow: 2px 2px 3px black;
  bottom: 35rem;


  h5 {
    font-size: 50px;
  }

  p {
    font-size: 30px;
  }

}

/*PRODUCTOS START */

.container-productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  margin-top: 5%;
  position: relative;
  gap: 0;
  text-align: center;

}

.productos {
  width: 100%;

  img {
    width: 50%;
    box-shadow: 1px 1px 15px black;
    border-radius: 5px;
    transition: 1000ms all;
    margin-bottom: 7%;
    vertical-align: center;
    justify-content: center;
  }

  p {
    font-size: 2rem;
    text-align: center;
    padding: 30px;
    padding-top: 0%;
  }
}

.container-button-more {
  grid-column: 1/7;
  justify-content: center;
}

.btn.btn-outline-dark {
  margin-top: 3rem;
  font-size: 2rem;
  width: 50rem;
}

//PRODUCTOS END
// INDEX END